version: "3.8"

services:
  mariadb:
    image: mariadb:10.8
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - mariadb-data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    restart: unless-stopped

  frappe:
    build: .
    restart: unless-stopped
    depends_on:
      - mariadb
      - redis
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - frappe-sites:/home/frappe/frappe-bench/sites
      - frappe-logs:/home/frappe/frappe-bench/logs
    expose:
      - "8000"
      - "9000"

volumes:
  mariadb-data:
  frappe-sites:
  frappe-logs:
